.rodape{
    color:#978B7A;
    margin-top: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
    background-color:#2C2A2B;
    text-align: center;
}

.titulo{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color:#978B7A;
}